// Background Color
$board--color--normal: #e79057;
$board--color--hover: #e26f24;
$board--color--active: #ad4500;

$page--color--normal: #ffffff;
$page--color--hover: #fff9f5;
$page--color--active: #fff9f5;

// Border Color
$border--color: #e79057;

// Font Color
$font--color--basic: #ffffff;
$font--color--normal: #e79057;
$font--color--active: #ad4500;

// Font Family
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
